body
{
    background-color: #E6D7E6;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.Envelope-Image{
    width: 300px;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.Envelope {
    background-color: antiquewhite;
    width: 280px;
    margin: 50px auto;
    padding: 0px;
    transition: all 1s ease;
    z-index: 1;
    height: 200px;
}

.Envelope-Text{
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgba(27, 27, 27, 1);
    text-align: center;
    transition: opacity 0.5s ease;
}

.Header{
    background-color: #df8cd6;
    color: white;
    padding: 118px 15px 15px 15px; 
    margin: 0px;
    text-align: center;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: all 1s ease;
    height: 15%;
}

.buttons{
    gap: 20px;
}

.buttons div{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons button{
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

#yes-button{
    background-color: #4CAF50;
    transition: font-size 0.3s ease, background-color 0.3s ease;

}

/* #yes-button:hover{
    background-color: #71d476;
    font-size: 100px;

} */

#no-button{
    background-color: white;
    border: 3px solid #f44336;
    color: #f44336;
    /* position: absolute; */
    transition: all 0.1s ease-in-out;
    z-index: 3;
}

#no-button:hover{
    background-color: #f77b6c;
}

.message{
    margin: 20% 15%;
    font-size: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgba(27, 27, 27, 1);
    text-align: center;
    transition: all 0.3s ease;
}
