body
{
    background-color: #E6D7E6;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.Header{
    background-color: #3e0b39;
    color: white;
    padding: 30px;
    margin: 0px;
    text-align: center;
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.buttons{
    margin-top: 50px;   
    gap: 20px;
}

.buttons div{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons button{
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 40px;
    cursor: pointer;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: all 0.3s ease;
}

#yes-button{
    background-color: #4CAF50;
}

#yes-button:hover{
    background-color: #71d476;
    font-size: 100px;

}

#no-button{
    background-color: #f44336;
    /* position: absolute; */
    white-space: nowrap;
    transition: all 0.1s ease-in-out;
}

#no-button:hover{
    background-color: #f77b6c;
}
